@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0.843 0.086 24.866;
    --foreground: 0.147 0.031 29.034;
    --muted: 0.939 0.025 147.778;
    --muted-foreground: 0.446 0.025 147.449;
    --popover: 0.973 0.007 23.656;
    --popover-foreground: 0.134 0.026 29.44;
    --card: 0.935 0.029 23.913;
    --card-foreground: 0.134 0.026 29.44;
    --border: 0.927 0.007 23.654;
    --input: 0.927 0.007 23.654;
    --primary: 0.657 0.229 29.729;
    --primary-light: 0.857 0.229 29.729;
    --primary-dark: 0.457 0.229 29.729;
    --primary-foreground: 1 0 180;
    --secondary: 0.872 0.274 143.533;
    --secondary-light: 0.95 0.274 143.533;
    --secondary-dark: 0.65 0.274 143.533;
    --secondary-foreground: 0 0 0;
    --background-dark: 0.743 0.086 24.866;
    --accent: 0.498 0.283 272.767;
    --accent-foreground: 0.987 0.007 290.118;
    --destructive: 0.565 0.159 43.872;
    --destructive-foreground: 1 0 180;
    --ring: 0.657 0.229 29.729;
    --chart-1: 0.657 0.229 29.729;
    --chart-2: 0.872 0.274 143.533;
    --chart-3: 0.498 0.283 272.767;
    --chart-4: 0.875 0.263 143.854;
    --chart-5: 0.66 0.234 29.827;
  }

  .dark {
    --radius: 0.5rem;
    --background: 13.948% 0.02893 34.084;
    --foreground: 0.991 0.002 23.598;
    --muted: 0.219 0.035 146.196;
    --muted-foreground: 0.756 0.022 147.75;
    --popover: 16.237% 0.03684 29.4;
    --popover-foreground: 1 0 180;
    --card: 16.237% 0.03684 29.4;
    --card-foreground: 1 0 180;
    --border: 16.237% 0.03684 29.4;
    --input: 0.241 0.014 24.265;
    --primary: 0.657 0.229 29.729;
    --primary-light: 0.857 0.229 29.729;
    --primary-dark: 0.457 0.229 29.729;
    --primary-foreground: 1 0 180;
    --secondary: 0.872 0.274 143.533;
    --secondary-light: 0.95 0.274 143.533;
    --secondary-dark: 0.65 0.274 143.533;
    --secondary-foreground: 0 0 0;
    --background-dark: 0.08 0.02893 34.084;
    --accent: 0.403 0.273 266.181;
    --accent-foreground: 0.987 0.007 290.118;
    --destructive: 0.611 0.244 13.521;
    --destructive-foreground: 1 0 180;
    --ring: 0.657 0.229 29.729;
    --chart-1: 0.657 0.229 29.729;
    --chart-2: 0.872 0.274 143.533;
    --chart-3: 0.498 0.283 272.767;
    --chart-4: 0.875 0.263 143.854;
    --chart-5: 0.66 0.234 29.827;
  }


}

body {
  background-color: oklch(var(--background));
  color: oklch(var(--foreground));
  font-family: system-ui, -apple-system, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: oklch(var(--primary-dark));
}

::-webkit-scrollbar-thumb {
  background-color: oklch(var(--primary));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: oklch(var(--primary) / 0.8);
}